{define col-filter-firstname}
	<div class="input-group">
		<span class="input-group-addon input-small">@</span>
		{input $column->name class => "input-small"}
	</div>
{/define}

{define cell-virtual-gender}
	{if $row->gender === 'male'}
		chlapeček
	{else}
		holčička
	{/if}
{/define}
