<link rel="stylesheet" href="{$basePath}{=getNextrasDemosSourceWeb('datagrid/bootstrap-style/bootstrap3.nextras.datagrid.css')}">
<script src="{$basePath}{=getNextrasDemosSourceWeb('datagrid/js/nextras.datagrid.js')}"></script>
