{block #content}

<h3>List of demos:</h3>
<ul>
	<li><h4><a href="{link OptionList:}">OptionList</a> <small>radio list</small></h4></li>
	<li><h4><a href="{link MultiOptionList:}">MultiOptionList</a> <small>checkbox list</small></h4></li>
</ul>
