{block #content}

<h3>List of demos:</h3>
<ul>
	<li><h4><a href="{link DataDump:}">Data dump demo</a> <small>just dump result set</small></h4></li>
	<li><h4><a href="{link Paginator:}">Paginator demo</a> <small>includes paginating</small></h4></li>
	<li><h4><a href="{link Full:}">Full demo</a> <small>includes filtering, inline edit, paginating</small></h4></li>
</ul>
