<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Nextras Datagrid examples">
	<title>{block title|striptags}Nextras Datagrid examples{/block}</title>

	<link rel="stylesheet" href="{$basePath}/css/bootstrap.css">
	<link rel="stylesheet" href="{$basePath}/css/layout.css">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="{$basePath}/js/nette.ajax.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>

	{if !empty($header)}
		{include $header}
	{/if}

	<script>
		$(function() {
			$.nette.init();
		});
	</script>
</head>
<body>
<script> document.body.className+=' js' </script>
{if !empty($addonGitHub)}
<a href="{$addonGitHub}"><img style="position: absolute; top: 0; right: 0; border: 0;z-index:10000" src="{$basePath}/img/forkme.png" alt="Fork me on GitHub"></a>
{/if}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{link :Homepage:}">Nextras components</a>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="https://github.com/nextras">GitHub</a></li>
			<li><a href="http://nette.merxes.cz/addons/www/nextras">Addons portal</a></li>
		</ul>
	</div>
</div>
</nav>


<div class="container">
<div class="row">
	<div class="span12" n:snippet="flashes">
		<div n:foreach="$flashes as $flash" class="alert alert-info">{$flash->message}</div>
	</div>
</div>
{if !empty($addonName)}
<div class="row">
<div class="span12">
<div class="addon-block clearfix">
	<h2 class="pull-left">
		<a href="{link Default:}"><small>Nextras\</small>{$addonName}</a>
	</h2>
	<table class="pull-right">
		<tr n:if="!empty($addonComposer)"><th>Composer</th><td><code>composer require {$addonComposer}</code></td></tr>
		<tr n:if="!empty($addonGitHub)"><th>GitHub</th><td><a href="{$addonGitHub}">{$addonGitHub}</a></td></tr>
		<tr n:if="!empty($addonForum)"><th>Forum</th><td><a href="{$addonForum}">{$addonForum|truncate:40}</a></td></tr>
		<tr n:if="!empty($addonDoc)"><th>Documentation</th><td><a href="{$addonDoc}">{$addonDoc}</a></td></tr>
	</table>
</div>
<hr>
</div>
</div>
{/if}
<div class="row">
	<div class="span12">
		{include #content}
	</div>
	<div class="span12 footer">
		This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
		<br>Nextras community &copy; 2013
	</div>
</div>
</div>
</body>
</html>
